h1{
    font-size: 30px;
    color: #900C3F;
    font-weight: bold;
    background-color: #DAF7A6;
    text-align: center;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
ol{
    list-style: circle;
}